@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,500;1,600&display=swap');
@import url('/style/address.css');
@import url('/style/cart.css');
@import url('/style/category.css');
@import url('/style/nav.css');
@import url('/style/utils.css');
@import url('/style/footer.css');
@import url('/style/slider.css');
@import url('/style/wishlist.css');
@import url('/style/profile.css');
@import url('/style/login-signup.css');
@import url('/style/orders.css');
@import url('/style/password.css');

:root {
    --primary-color: #0C73EB;
    --primary-red: #0C73EB;
    --primary-color-dark: #0a5cbc;
    --primary-red-dark: #0a5cbc;
    --white: #fff;
    --black: #000;
    --grey: #C8C8C8;
    --yellow: #F8E831;
    --blue: #152336;
    --discount: #388e3c;
    --orange: #fb641b;
    --secondary: #fb641b;
    --wishlist: #fc5656;
    --dark-grey: #858585;
}


body {
    color: var(--black);
    background-color: var(--white);
    font-family: 'Poppins';
    max-width: 1600px;
    margin: auto;
}

.bat-card {
    transition: .3s all;
}

.cart .bat-card:hover {
    box-shadow: none;
}

.bat-card:hover {
    box-shadow: 0 1px 12px 2px #dbdbdb;
}

.show-more-text {
    background-color: var(--primary-color);
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    color: var(--white);
}

.show-more-text:hover {
    background-color: var(--primary-color-dark)
}

.landing-header,
main,
.main {
    max-width: 1600px;
    margin: auto;
}

.show-on-phone-only {
    display: none;
}

.material-icons {
    cursor: pointer;
    padding: 0.35rem;
    border-radius: 50%;
    transition: .2s all;
}

.category-list img {
    width: 100%;
    height: 125px;
    object-fit: cover;
}

.category-list .bat-overlay-bg:hover {
    background-color: transparent;
}


.landing-header div {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.bat-overlay-bg {
    transition: 0.3s all;
    position: absolute !important;
    top: 0rem;
    left: 0;
    right: 0;
    bottom: 0;
    height: 125px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    overflow: hidden;
    background-color: rgba(185, 185, 190, 0.6);
}

.show-more.bat-overlay-bg {
    height: 100%;
}

.bat-card.show-more {
    background-image: url(https://www.dccomics.com/sites/default/files/styles/comics320x485/public/gn-covers/2020/09/LR33290-JusticeLeague_50-001_HD_5f5b00ecec0827.72057782.jpg?itok=Y1vhGxcw);
    background-position: center;
}

.bat-card.show-more .bat-overlay-text {
    font-size: 1.5rem;
}

.bat-overlay-text {
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    color: var(--white);
    width: fit-content;
}

.slider {
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
}

.slider-item {
    position: relative;
}

.slider-title {
    line-height: 1;
    position: absolute;
    padding: 0.5rem 1rem;
    bottom: 15%;
    left: 15%;
    width: 100%;
    font-weight: 600;
    font-size: 2rem;
    background-color: var(--primary-color);
    color: var(--white);
}

.slider-badge {
    position: absolute;
    width: fit-content;
    padding: 0 0.5rem;
    top: 5%;
    left: 2%;
    font-weight: 500;
    font-size: 1rem;
    background-color: var(--yellow);
    color: var(--primary-color-dark);
}

.slider-item img {
    height: 500px;
    object-position: center;
    object-fit: cover;
    width: 100%;
    filter: brightness(.6);
}

.bat-btn-with-icon {
    background-color: var(--primary-color);
    color: var(--white);
}

.bat-btn-with-icon:hover {
    background-color: var(--primary-color-dark);
}

.color-primary .material-icons {
    color: var(--primary-color) !important;
}

.bat-card.card-with-badge .bat-badge {
    background-color: var(--yellow);
    color: var(--blue);
    left: 0%;
}

.line {
    background-color: var(--primary-color-dark);
    padding: 0.25rem;
    color: var(--white);
    width: 100%;
    margin: 2rem 0;
    text-align: center;
}

.bat-card img {
    transition: .4s all;
}

.bat-card img:hover {
    transform: scale(1.1);
}

.featured-area {
    width: 50%;
    align-items: flex-start;
}

.featured-area p {
    color: var(--grey);
}

.featured-area-cover-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    filter: brightness(.2);
}

.featured-image {
    position: absolute;
    bottom: 5%;
    left: 5%;
    align-items: center;
}

.featured-image img {
    height: 350px;
    object-fit: cover;
}

.featured-title {
    font-size: 1.25rem;
    background-color: var(--yellow);
    color: var(--primary-color-dark);
    padding: 0.5rem;
    width: 100%;
    font-weight: 500;
}

.featured-date {
    font-size: 1rem;
    font-weight: 600;
    color: var(--yellow);
    padding: 0.5rem;
    width: 100%;
}

.featured-by {
    font-size: 1rem;
    color: var(--white);
    padding: 0.5rem;
    width: 100%;
    font-weight: 600;
}

@media screen and (max-width: 1000px) {

    .featured-area-flex {
        flex-direction: column;
    }

    .featured-area {
        width: 100%;
    }

    .hide-media-tab {
        display: none;
    }

    div.category-list.show-cat {
        left: 0 !important;
    }
}

@media screen and (max-width: 700px) {
    .show-on-phone-only {
        display: block;
    }

    div.category-list {
        position: absolute;
        flex-direction: column;
        z-index: 2;
        left: -100%;
        transition: .3s all;
        top: 60px;
        background: white;
        right: 0;
        height: 100vh;
    }

    .home-cards-media-query {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    .hide-media-tab {
        display: flex;
    }

    .show-more-text {
        padding: 0.5rem;
        font-size: 1rem;
    }

    .fs-1-5r {
        font-size: 1rem;
    }

    .input-div-subscribe {
        flex-wrap: wrap;
        justify-content: center;
    }

}

@media screen and (max-width: 500px) {
    .home-cards-media-query {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: auto;
        align-items: start;
    }

    .featured-image img {
        height: 300px;
    }

    .featured-image {
        flex-direction: column;
    }

    .hide-media-tab {
        display: flex;
    }

    .featured-area-cover-img {
        height: 700px;
    }
}

.bat-discount-tag {
    color: #388e3c;
    font-size: 13px;
    letter-spacing: -.2px;
    font-weight: 500;
}

.wishlist-btn:focus {
    color: var(--wishlist);
}

.wishlist-btn {
    color: var(--grey);
    transition: .3s all;
    padding: 0.25rem;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--white);
}

.wishlist-btn:hover {
    background-color: var(--grey);
    color: var(--white);
}

.subscribe-mail-section {
    display: flex;
    grid-template-columns: 1fr 1fr;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 1rem;
    margin: auto;
}

.subscribe-mail-section img {
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    object-position: top;
    height: 250px;
}

.subscribe-mail-section input {
    padding: 0.5rem;
    border: 2px solid var(--black);
}