.navbar {
    background-color: var(--primary-color);
}

.nav-menu button {
    padding: 0.5rem 1rem;
    color: var(--primary-color);
    font-weight: 600;
}

.nav-menu button:hover {
    color: var(--primary-color);
}

.nav-menu .material-icons:hover {
    background-color: var(--grey);
    color: var(--primary-color);
}

.search-bar input {
    border: none;
    outline: none;
    font-family: inherit;
    padding: 0.5rem;
    background-color: transparent;
    width: 30vw;
    max-width: 600px !important;
    transition: .5s all;
}

.search-bar input:focus {
    width: 40vw;
}

.search-bar {
    background-color: var(--white);
    color: var(--primary-color);
}

.nav-menu button .material-icons {
    padding: 0;
    margin-right: .35rem;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 900px) {
    .search-bar input {
        width: 30vw;
    }
}


@media screen and (max-width: 700px) {
    .search-bar input:focus {
        width: 100%;
    }

    .search-bar input {
        width: 100%;
    }

    .landing-header {
        margin: 0rem auto;
    }

    .nav-menu button {
        background-color: transparent;
        color: var(--white);
        padding: 0rem;
    }

    .nav-menu button:hover {
        background-color: transparent;
    }

    .hide-on-phone {
        display: none;
    }

    .nav-menu {
        /* position: fixed; */
        bottom: 0;
        display: flex;
        background: var(--primary-color);
        width: 100%;
        left: 0;
        right: 0;
        z-index: 567;
        padding: 0 .5rem;
        gap: .25rem;
        justify-content: flex-end;
    }

    .menu-icon {
        display: block;
    }

    .media-nav {
        width: 100%;
        justify-content: space-between;
        gap: .35rem;
    }
}

@media screen and (max-width: 600px) {
    nav {
        padding: 0 0.5rem;
    }

    .navbar {
        height: 120px;
    }

    .bat-logo i {
        display: none;
    }

    .search-bar {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        z-index: 2;
        margin: auto;
        width: 95vw;
        padding: 0.25rem;
    }

    .search-bar input {
        width: 100%;
    }

    header {
        margin-top: 0rem;
    }

    .landing-header {
        margin: 0rem;
    }
}