.product-container {
    margin: auto;
    position: relative;
    padding: 1rem;
}

.product-item-one {
    margin: 1rem auto;
    display: grid;
    max-width: 1200px;
    gap: 2rem;
    grid-template-columns: 1fr 1.5fr;
    justify-items: center;
}

.product-item-one-img {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.product-item-one-img .wishlist-btn {
    position: absolute;
    top: 2%;
    right: 1%;
}

.product-item-one-img img {
    width: 100%;
    max-width: 500px;
    border-radius: 0.5rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: top;
    margin-bottom: 1rem;
    transition: 0.3s all;
}

.product-item-one-img img:hover {
    transform: scale(1.1);
}

.product-item-one-img button {
    width: 100%;
    text-transform: uppercase;
    justify-content: center;
    padding: 1rem;
    font-size: 1rem;
}

.fs20px {
    font-size: 20px;
}

.product-data {
    width: 100%;
}

.product-title-one {

    font-weight: 600;
}

.runtime-one {
    font-size: 1.5rem;
}

.summary {
    font-size: 20px;
    color: var(--primary-color-dark);
}

.btn-flex a {
    width: 100%;
}

.loader {
    margin: auto;
    max-width: 300px;
}

.product-by {
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    width: fit-content;
    border-radius: 0.35rem;
    font-weight: 600;
}

.cast-container {
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
}

.cast-container img,
.cast-div {
    width: 92px;
}

.gallery-img {
    width: 298px !important;
}

.bat-discount-tag.bat-fs-1r {
    font-size: 1rem;
    margin: 0;
}


.prod-price span {
    font-size: 1.5rem;
}

.prod-price span.bat-fs-1r {
    font-size: 1rem;
}

.rating.bat-fs-1r,
.rating .bat-fs-1r {
    font-size: 1rem;
}

.offer-list-item i {
    color: var(--discount);
}

@media only screen and (max-width: 300px) {
    h1 {
        font-size: 1.75rem;
    }
}

@media only screen and (max-width: 770px) {
    .product-container {
        padding: 0 1rem 1rem;
    }

    .product-data .fs-24px {
        font-size: 1.25r;
    }

    .product-item-one-img img {
        margin: 0 auto;
        display: block;
    }

    .product-item-one {
        gap: 0;
        grid-template-columns: 1fr;
    }


    .add-but-btns {
        gap: 0;
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 4;
        left: 0;
    }

    .add-but-btns button {
        border-radius: 0;
    }

}

@media only screen and (max-width: 500px) {


    .add-but-btns button i {
        display: none;
    }

}